@section HeadScripts{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        body {
            text-align: center;
            background-color: black;
            color: white;
        }

        #img1 {
            width: 300px;
            height: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
}

<h1>Lesson 3<br />Calories - Budgets & Calculations</h1>
<hr style="width:400px;height:3px;background-color:red;" />
<h4>What you'll learn in this lesson -</h4>
<p style="color:grey;"><i class="fa fa-long-arrow-right"></i> Calorie & Nutrients - Recap</p>
<p style="color:grey;"><i class="fa fa-long-arrow-right"></i> What is Energy Density?</p>
<p style="color:grey;"><i class="fa fa-long-arrow-right"></i> Usage of Energy by your Body</p>
<p style="color:grey;"><i class="fa fa-long-arrow-right"></i> Calorie Budgets & Calculations</p>
<p style="color:grey;"><i class="fa fa-long-arrow-right"></i> Exercise Equivalents of foods</p>
<br />
<div class="container w-75" style="background-color:yellow;"><br />
    <img id="img1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR3pLXFoHYUPZnS8EQ1uxmX4pH7zFJW4conQ&usqp=CAU" />
   <br /> <h5>Energy Density</h5>
    <p>The amount of energy your food contains per gram is known as its Energy Density</p><br />
</div> 
<br />
<h6>Eat more Low Energy Density Foods.</h6>
<p>High energy density foods provide more calories per gram of food. But, low energy density foods provide fewer calories per gram of food – Basically, by choosing the lower energy density option, you get to eat a lot more food for the same number of calories!</p>
<p>Low energy density foods include foods with a high water content, whereas High energy density foods are high in fat and have a low water content.</p>
<br />
<p>Including more of the low-energy density foods in your diet, and eating high-energy density foods less often and in small amounts, can help control your overall calorie intake.</p>

<div class="container w-75" style="background-color:pink;"><br />
    <img id="img1" src="https://cdn2.vectorstock.com/i/thumb-large/61/76/strawberry-cute-character-vector-34316176.jpg" />
   <br /> <h5>Where does this Energy go?</h5>
    <p>Energy consumed is used by your body in many ways, but primarly for Staying Alive.</p><br />
</div>
<br />
<h6>If you thought that exercise was the only way you burned calories, you’re in for a surprise!</h6>
<p>Your burn 70-80% of calories by just staying alive & processing food everyday. The remaining 20% is what requires maximum physical & mental effort though!</p>

<div class="container w-75" style="background-color:lightblue;"><br />
    <img id="img1" src="https://media.istockphoto.com/photos/strawberry-picture-id539816054?s=612x612" />
   <br /> <h5>How is Cal(Energy) Budget Calculated?</h5>
    <p>Calorie budget calculations depend on a number of factors. Let's learn what they are!</p>
    <br />
</div>