@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section HeadScripts{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        body {
            text-align: center;
            background-color: black;
            color: white;
        }

        #img1 {
            width: 300px;
            height: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
}



    <h1>Lesson 2 <br />Calories & Nutrients</h1>
    <hr style="height:3px;width:300px;background-color:red;" />

    <h4>What you'll learn today?</h4>
    <p style="color:grey;"><i class="fa fa-long-arrow-right"></i> Calorie Basics - Recap</p>
    <p style="color:grey;"><i class="fa fa-long-arrow-right"></i> What are Nutrients?</p>
    <p style="color:grey;"><i class="fa fa-long-arrow-right"></i> Why do we need Nutrients?</p>
    <p style="color:grey;"><i class="fa fa-long-arrow-right"></i> Measuring Macros for diet</p>

    <div class="container media border p-3 w-75 align-self-center" style="background-color:deepskyblue;">
        <div class="media-body">
            <h5>Let's Recap</h5>
            <ul>
                <li>A calorie is a measurement/unit of energy</li>
                <li>Calories are primarily made up of three Macronutrients -Fats, Carbs and Protien</li>
                <li>Calorie calculations = Add Fats, carbs, protein and subtract Fibre</li>
            </ul>
        </div>
        <img src="https://img.freepik.com/premium-vector/cute-marshmallow-fire-cartoon-vector-icon-illustration-food-character-icon-concept_295036-1149.jpg?w=2000" alt="" class="align-self-end mr-3" style="width:100px">
    </div>
    <br />
    <br />
    <div class="container w-75" style="background-color:yellow;color:black">
        <br />
        <img id="img1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSHA3_kRc3C1znHfIrZvOe4o0IvzBf2WyHlAM8cREfS57C9AbtdZ_Di1CjqHXE99c6Q7g&usqp=CAU" />
        <br /><h5>What are Nutrients?</h5>
        <p>The substances used by our body for energy are called Nutrients</p><br />
    </div>
    <br />
    <br />
    <h6>Macronutrients & Micronutrients</h6>
    <p>Nutrients that our body needs in large amounts are called Macronutrients and those that our body needs insmaller quantities are called Micronutrients.</p>

    <div class="container w-75" style="color:darkgrey;">
        <h6>Macronutrients</h6>
        <h6>Carbs | Proteins | Fats | Fibre</h6>
        <hr style="width:300px;height:2px;background-color:white;" />
        <h6>Micronutrients</h6>
        <h6>Minerals | Vitamins</h6>
    </div>
    <br />
    <br />
    <div class="container w-75" style="background-color:red;">
        <br />
        <img id="img1" src="https://img.myloview.com/stickers/food-preparation-sliced-vegetables-in-red-saucepan-kitchen-utensil-vector-illustration-cartoon-flat-icon-isolated-on-white-background-400-242217184.jpg" />
        <br /> <h5>Why do we need these nutrients?</h5>
        <p>Our body needs all of these nutrients to function, but in different quantities.</p><br />
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>

        <div class="col-sm-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyNahapCcmjI3QlD8sH3jm9sSPrge7GM3D43t6dzZinpW_vQqShIXLMpEKlOCfYqHk23A&usqp=CAU" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://st.depositphotos.com/1793489/2452/v/950/depositphotos_24522723-stock-illustration-cartoon-potato.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR34WdYfY2bADpbN5aHlR0BkWvBkNaH_VWasOux3YXRmSiRTWNEbTxOr-bwz763gzDWShg&usqp=CAU" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
    <br />
    <p>
        Carbohydrates are used for quick energy.<br />
        Ever heard of carb-loading? Athletes load up on
        carbs to give themselves a store of quick energy.
    </p>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <img src="https://img.lovepik.com/free_png/32/19/55/71158PICj8Ri550xv5rWe_PIC2018.png_300.png" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc5PZkiRTiWAgv9N_9vy7T89CvUfDIVhxnmw&usqp=CAU" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://w7.pngwing.com/pngs/991/678/png-transparent-almond-nut-almond-icon-cartoon-almond-cartoon-character-painted-hand-thumbnail.png" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
    <br />
    <p>
        Proteins help build & repair muscle tissues.<br />
        Think why bodybuilders are always eating chicken & <br />protein bars -  trying to build their muscles by getting lots of protein in their diet!
    </p>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <img src="https://library.kissclipart.com/20180904/tyw/kissclipart-oil-drop-cartoon-clipart-drop-clip-art-c7980f713797ed65.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCEZLKpny64pyJCgHBC0llJaRL3qv0zNZzzw&usqp=CAU" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://img.freepik.com/premium-vector/illustration-fresh-avocado-cartoon-illustration-isolated_126520-602.jpg?w=2000" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
    <br />
    <p>
        Fats store lots of energy in our body.<br />
        Fats don’t make you fat. It’s important to cushion organs, protect cells,<br /> and send signals in the form of hormones around your body.
    </p>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <img src="https://t3.ftcdn.net/jpg/03/25/61/62/360_F_325616239_jPMacbnlr5hNYLBOazcKMtwvLWGKUEy3.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://png.pngtree.com/png-clipart/20190920/original/pngtree-two-cartoon-nuts-illustration-png-image_4679253.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2EakmP078th9SxlXEErow6IS2JMEXuWkjVg&usqp=CAU" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>

    <br />
    <p>
        Fibre keeps your digestive system healthy.<br />
        Fibre is indigestible. But this property allows food to stay longer in the body,<br /> keeping you full for longer and your system happy.<br />
        Note - Fibre is often combined with Carbs. But at HealthifyMe,<br /> we separate the two, to make Calorie counting more effective
    </p>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <img src="https://thumbs.dreamstime.com/b/ghee-wooden-bowl-asia-traditional-butter-cartoon-style-food-ingredient-cooking-ghee-wooden-bowl-asia-traditional-234662132.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://media.istockphoto.com/vectors/vitamin-e-capsules-cartoon-vector-icon-isolated-on-white-background-vector-id1139459296" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1">
            <img src="https://media.istockphoto.com/illustrations/yellow-not-peeled-banana-illustration-id804495812?k=20&m=804495812&s=612x612&w=0&h=lVv0Q6tOa2UW470oOjB3oBjpcjLAFANcIkBlxwH45Io=" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>

    <br />
    <p>
        Vitamins and Minerals are Important<br />
        Although they are only needed in small
        amounts, they play an important role in our body.<br />
        They can be found in supplements as well as in <br /> many foods in small quantities.
    </p>

    <br />
    <div class="container w-75" style="background-color:lightskyblue">
        <br />
        <img src="https://images.squarespace-cdn.com/content/v1/589534a31b10e37f9b3f7670/1627342442751-XPLHZKINE9PROR5PUD1X/Exercise+your+brain+2.jpg?format=1500w" />
        <br />   <h5>Measuring Macros for Diets</h5>
        <p>1 gm of Protein & Carbs = 4 Calories</p>
        <p>1 gm of Fats = 9 Calories</p><br />
    </div>
    <br />
    <p>
        While it’s important to eat within set calorie budgets, creating a balanced diet with macros in mind is just as important to meet your weight goals.
    </p>
    <p>
        Typical Macro recommendations vary between individuals, but the universal range per day is -
    </p>

    <div class="container w-75" style="background-color:lightgray;color:black;">
        <br /> <h5>Carbs - 45-65%</h5>
        <hr style="width:200px;height:2px;background-color:black;" />
        <h5>Fats - 20-35%</h5>
        <hr style="width:200px;height:2px;background-color:black;" />
        <h5>Protiens - 10-35%</h5><br />
    </div>
    <br />
    <p>Let's take a look at an example -</p>
    <div class="container w-75" style="color:grey;">
        <p>Meal A</p>
        <p>2 Egg white veggie omeletts + Green Tea</p>
        <p>190 gm/180ml - 174 Cal</p>
        <p>Proteins-9.0 gm | Carbs-12.0 gm | Fats-9.5 gm | Fibre-2.5 gm</p>
        <hr style="width:200px;height:2px;background-color:grey;" />
        <p>Meal B</p>
        <p>2 omeletts + Brown Bread + Greek Yoghurt</p>
        <p>302 gm - 374 Cal</p>
        <p>Proteins-13.5 gm | Carbs-30.7 gm | Fats-16.3 gm | Fibre-0.8 gm</p>
    </div>
    <br />
    <p>
        <b>MEAL A</b> - Low calorie meal. Balanced in Proteins & Fats. Ideal to be in a weight loss diet plan
        <b>MEAL B</b> - High Calorie meal. High in Proteins, Fats, and Carbs. Ideal in weight gain or muscle gain diet plans.
    </p>
    <br />
    <br />
    <div class="container w-75" style="color:black;">
        <div class="container" style="background-color:white;">
            <br />
            <h5>Pro Tips from our Coaches</h5><br />
        </div>
        <div class="container" style="background-color:skyblue;">
            <br />
            <h5>Dont't skip fats & carbs in your diet. They play an important role in keeping us fit.</h5><br />
        </div>
        <div class="container" style="background-color:orange;">
            <br />
            <h5>Choose fibre rich fruits and vegetables daily with your meals</h5><br />
        </div>
        <div class="container" style="background-color:peachpuff;">
            <br />
            <h5>A balanced diet is key to provide the right kind of nutrients to your body.</h5><br />
        </div>
    </div>
    <br />
    <br />
    <h5>TOO HARD TO CREATE A DIET PLAN?</h5>
    <br />
    <p>
        Don’t worry! We create balanced meal<br />
        plans based on your goals - so you don’t<br />
        have to do any calculations! Head on to our<br />
        Plans tab & create a diet plan now!
    </p>

    <h5>Good job, you're done!</h5>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />