@section HeadScripts{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        body {
            text-align: center;
            background-color: black;
            color: white;
        }

        #img1 {
            width: 300px;
            height: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
}

    <h1>Lesson 1<br /> Calories: The Basics</h1>
    <hr style="height:3px;width:300px;background-color:red;" />
    <h5>Calories are a way of keeping track of a body's energy budget</h5>
    <p>But if you don't understand calories, they can be a bit confusing. So let's understand calories better.</p>

    <div class="container w-75" style="background-color:lightpink">
        <br />
        <img id="img1" src="https://img.freepik.com/premium-vector/cute-marshmallow-fire-cartoon-vector-icon-illustration-food-character-icon-concept_295036-1149.jpg?w=2000" />
        <br /> <h5>What are Calories?</h5>
        <p>A calorie is a unit of energy, like a watt is to power</p><br />
    </div>
    <br />
    <h6>Think of Calories as an Accounts ledger.</h6>
    <p>Just like how you record a "to" and "form" in a ledger - calories are a way of keeping track of the energy "in" and "out" of the body's energy budget.</p>

    <div class="container w-75" style="background-color:lightblue">
        <br />
        <img id="img1" src="https://png.pngtree.com/png-clipart/20190618/original/pngtree-cartoon-dumplings-blue-bowl-bowl-a-bowl-of-dumplings-png-image_3903170.jpg" />
        <br /><h5>How are Calories calculated?</h5>
        <p>Originally, calories in food were calculated through a Bomb Calorimeter</p><br />
    </div>
    <br />
    <h5>Imagine placing a food item into an insulated, sealed metal container surrounded by water</h5>
    <p>Then quite literally bomb your food. Once the food is completely burnt, the rise in temperature indicates the amount of energy emiited - a.k.a calories</p>
    <p>As fun as that experiment sounds, it is also time-consuming. So, today food labels count calories by - </p>
    <p><i class="material-icons">add_circle_outline</i> ADDING</p>
    <p>Energy providing components like carbs and protein</p>
    <hr style="height:3px;width:300px;background-color:lightgray" />
    <p><i class='fas fa-minus-circle'></i> SUBTRACTING</p>
    <P>Indigestible components like fiber</P>
    <br />
    <div class="container w-75" style="background-color:lightsteelblue">
        <br />
        <img id="img1" src="https://img.freepik.com/premium-vector/cute-panda-avocado-cartoon-design_274619-2151.jpg?w=2000" />
        <br /> <h5>What are Calories made up of?</h5>
        <p>Energy providing - Nutrients, nutrients & nutrients</p>
        <h6> Proteins | Carbs | Fats | Fiber</h6><br />
    </div>
    <br />
    <p>These are also called as Macronutrients and from the composition of energy stored in your food. As you learned above, these nutrients also from the basis of counting calories in a food. Different types of macronutrients have standard amounts of calories</p>
    <br />
    <div class="container w-75" style="background-color:white;color:black;">
        <br /> <h5>1 gm Protein = 4 calories</h5>
        <hr />
        <h5>1 gm Carbs = 4 calories</h5>
        <hr />
        <h5>1 gm Fats = 9 calories</h5>
        <hr />
        <h5>1 gm Fiber = 4 calories</h5><br />
    </div>
    <br />
    <p>We all know that calorie is a useful energy measure, but to work out exactlyhow many of them each of us requires- we need to factor in things like exercise, food type, and our body's ability to process energy.</p>
    <h5>TOO MANY CALCULATIONS?</h5>
    <p>Lucky for you, we do all that calorie counting hardwork-all you have to do is eat, workout, and track!</p>
    <h5>
        Good job! You just finished learning the basics of Calories.
    </h5>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />