@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-lg-6" style="text-align:center">
        <br /><br /><br /><br />
        <h1><b>Meet HealthifyPro</b></h1>
        <p><b>The newly launched - Most advanced plan for smart weight loss</b></p><br /><br /><br />
        <button class="btn btn-lg animated-btn sketch-button" data-toggle="collapse" data-target="#demo" style="background-color:black;color:white;opacity:0.8;transition:0.3s;display:inline-block;">
            View More
        </button>
    </div>
    <div class="col-lg-6">
        <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/hero-cta-image-2.png?auto=format" style="width:100%;height:500px;" />
    </div>
</div>


<div class="collapse" id="demo">
<div class="jumbotron">
    <h1 style="text-align:center"><b>A Connected Fitness Ecosystem</b></h1>
    <p style="text-align:center"><b> Improve your health holistically, more consistently and experience change like never before.</b></p>
    <br />
    <div class="row">
        <div class="col-sm-6" style="background-color:white;color:black;">
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-2">
                    <img src="https://healthifyme.imgix.net/static/images/home_website/landing/icons/Devices.svg?auto=format" style="width:50px;height:50px;margin-top:20px;margin-left:20px;" />
                </div>
                <div class="col-sm-9">
                    <h5><b>Better Tech. Better Health</b></h5>
                    <p>A connected fitness ecosystem that helps you achieve your health goals faster and more consistently</p>
                </div>
            </div>
            <div class="row">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Smart+Devices.png?auto=format" style="width:500px;height:200px;" />
            </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-5" style="background-color:white;color:black;">
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-2" style="margin-right:10px;">
                    <img src="https://healthifyme.imgix.net/static/images/home_website/landing/icons/Coaches.svg?auto=format" style="width:50px;height:50px;margin-top:20px;margin-left:20px;" />
                </div>
                <div class="col-sm-9">
                    <h5><b>Elite Coaches</b></h5>
                    <p>Best-in-class Coaches for supreme guidance and motivation.</p>
                </div>
            </div>
            <div class="row">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Elite+Coaches.png?auto=format" style="width:400px;height:200px;margin-top:20px;margin-left:20px;" />
            </div>
        </div>
    </div>

    <br />

    <div class="card-columns text-">
        <div class="card">
            <div class="card-img-top" style="margin-top:20px;margin-left:20px;">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/icons/Metabolic.svg?auto=format" />
            </div>
            <div class="card-body">
                <div class="card-text"><h5><b>Metabolic Panel</b></h5></div>
                <div class="card-text"><p>A dashboard with 80+ key metabolic parameters that helps you stay healthy & identify underlying medical conditions.</p></div>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top" style="margin-top:20px;margin-left:20px;">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/icons/Plans.svg?auto=format" />
            </div>
            <div class="card-body">
                <div class="card-text"><h5><b>Personalized Fitness Plans</b></h5></div>
                <div class="card-text"><p>Extensive Diet and Workout Plans customized for you and your fitness goals.</p></div>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top" style="margin-top:20px;margin-left:20px;">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/icons/Insights.svg?auto=format" />
            </div>
            <div class="card-body">
                <div class="card-text"><h5><b>Better Health Insights</b></h5></div>
                <div class="card-text"><p>Detailed insights to keep you on track and help you improve your health regimen.</p></div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color:black;color:white">
    <br /><br />
    <h1 style="text-align:center">Healthify with Pro. Like a Pro.</h1>
    <p style="text-align:center">Make accurate progress powered by 360° guidance.</p>
    <br /><br />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/CGM.png?auto=format" style="width:300px;height:200px;" />
        </div>
        <div class="col-4">
            <h4><b>CGM</b></h4>
            <p>
                Small yet powerful, the CGM helps you lose weight more consistently. It tracks your glucose every minute. So you know what to eat and when to burn.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Pro_Coaches_gradient.png?auto=format" style="width:300px;height:200px;" />
        </div>
        <div class="col-4">
            <h4><b>Pro Coaches</b></h4>
            <p>
                Pro Coaches gather insights from Pro CGM, Smart Scale, Pro Tracker & Metabolic Panel to give you personalised guidance in real time.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Smart+Scale_update.png?auto=format" style="width:300px;height:200px;" />
        </div>
        <div class="col-4">
            <h4><b>Smart Scale</b></h4>
            <p>
                Smart in every way, the Smart Scale breaks down body weight into body fat, muscle mass, protein, hydration and bone mass. So you lose the right kind of weight.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Metabolic.png?auto=format" style="width:300px;height:200px;" />
        </div>
        <div class="col-4">
            <h4><b>Metabolic Panel</b></h4>
            <p>
                A dashboard with 80+ key metabolic parameters that helps you stay healthy & identify underlying medical conditions.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        <img src="https://healthifyme.imgix.net/static/images/home_website/landing/generic/Lifestyle1.png?auto=format" style="width:200px;height:300px;" />
    </div>
    <div class="col-1"></div>
    <div class="col-2">
        <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Lifestyle2_update.png?auto=format" style="width:200px;height:300px;" />
    </div>
    <div class="col-1"></div>
    <div class="col-4" style="margin-top:70px;">
        <h2><b>Diet Flexibility and Fitness Freedom</b></h2>
        <p>With the right data, reach your fitness goals faster, get personalized coaching and work with greater efficiency.</p>
    </div>
    <div class="col-1"></div>
</div>
<br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-4" style="margin-left:20px;">
        <img src="https://healthifyme.imgix.net/static/images/home_website/landing/generic/Lifestyle3.png?auto=format" style="width:400px;height:300px;" />
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <img src="https://healthifyme.imgix.net/static/images/home_website/landing/generic/Lifestyle4.png?auto=format" style="width:400px;height:300px;" />
    </div>
    <div class="col-1"></div>
</div>

<br>
<br>
<br />

<div class="jumbotron" style="margin:30px;">
    <h2 style="text-align:center;"><b>Improved Tools. Better Insights.</b></h2>
    <p style="text-align:center;">Track detailed body and health metrics with cutting-edge technology.</p>
    <br />
    <div class="row" style="background-color:white;">
        <div class="col-3" style="margin-top:20px;">
            <div class="row" style="margin-left:20px;">
                <h6><b>Continuous Glucose Monitoring</b></h6>
            </div>
            <div class="row" style="margin-left:20px;">
                <p>Track your glucose response to food & activity and learn what works for you.</p>
            </div>
            <div class="row">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Glucose+Monitoring.png?auto=format" style="width:300px;height:500px;" />
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3" style="margin-top:20px;">
            <div class="row" style="margin-left:20px;">
                <h6><b>Food Tracker</b></h6>
            </div>
            <div class="row" style="margin-left:20px;">
                <p>Log meals with a touch, check your macros, or simply take a photo of your meal.</p>
            </div>
            <div class="row">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Food+Tracker.png?auto=format" style="width:300px;height:200px;" />
            </div>
            <br />
            <div class="row" style="margin-left:20px;">
                <h6><b>Body Metrics</b></h6>
            </div>
            <div class="row" style="margin-left:20px;">
                <p>Don't just lose weight, lose the right kind of weight. Get detailed body metrics.</p>
            </div>
            <div class="row">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Body+Metrics.png?auto=format" style="width:300px;height:200px;" />
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3" style="margin-top:20px;">
            <div class="row" style="margin-left:20px;">
                <h6><b>Timeline & History</b></h6>
            </div>
            <div class="row" style="margin-left:20px;">
                <p>Get a feed of your whole day in one single place and receive feedback on your choices.</p>
            </div>
            <div class="row">
                <img src="https://healthifyme.imgix.net/static/images/home_website/landing/assets/Timeline+History.png?auto=format" style="width:350px;height:500px;" />
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<br />
<br />

<div class="container-fluid">
    <h2 style="text-align:center;"><b>Join the Health Revolution. It’s Time.</b></h2>
    <p style="text-align:center;">Find your reason to Healthify and bring the change that you’ve always aimed for.</p>

    <br /><br />
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="media border border-0" style="margin-left:250px;">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>Krishan Thukral</h4>
                        <h6 style="color:crimson">I Healthified from 94 to 80 Kg to play with my son.</h6>
                        <p>With the HealthifyMe app, Krishan lost 14 Kg and is now his son’s favourite.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="media border border-0" style="margin-left:250px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn8P6POnmXE2YJlFMqlJ-b2F_t8bdqTq4CAb-mQWDeI813MCCXefNOg9RjN2AQZwPzy3Y&usqp=CAU" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>Dr. Rashi Manocha</h4>
                        <h6 style="color:crimson">I Healthified to realise my dreams</h6>
                        <p>Supported by HealthifyMe’s personal coaches, customized diet plans, calorie counters, Dr. Rashi won over her PCOS and lost 18 Kg in 12 months.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="media border border-0" style="margin-left:250px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn8P6POnmXE2YJlFMqlJ-b2F_t8bdqTq4CAb-mQWDeI813MCCXefNOg9RjN2AQZwPzy3Y&usqp=CAU" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>Priyanka Jain</h4>
                        <h6 style="color:crimson">I Healthified to be an active mom.</h6>
                        <p>Supported by HealthifyMe’s personal coaches, customized diet plans, calorie counters, Priyanka lost 15 Kg post-pregnancy.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
<br />
<br />
<br />
<br />
<div class="container">
    <iframe src="https://www.youtube.com/embed/BK0tMMcB_QI?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=1&amp;start=0" style="width:100%;height:700px;"></iframe>
</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


